@charset "UTF-8";
@import 'normalize';
/*=============================================
Base  
=============================================*/

body {
  padding: 0;
  font-family: 微軟正黑體, PingFangTC-Regular, arial, sans-serif;
  color: #000;
  background-color: #fff;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

/*=============================================
header
=============================================*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 20px;
  z-index: 100;
  background-image: url(img/header_bg.png);
  background-repeat: no-repeat;
  background-position:right center ;
  background-color: white;

  &__logo{
    display: inline-block;
    width: 310px;
    height: 40px;
    zoom: 1;
    background-image: url(img/yuanta_logo.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
}
/*=============================================
footer
=============================================*/
.footer {
  background-color: #007fe0;
  color: #fff;
  font-size: 14px;
  padding: 15px 0;
  line-height: 1.7em;
  &__container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    height: 45px;
    max-width: 1000px;
    margin: 0 auto;
  }
}
